<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} %-5level %logger{10} - %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="org.springframework" level="ERROR" />
	<logger name="com.epam.asset.tracking" level="INFO" />
	<logger name="org.mongodb" level="ERROR" />
	<logger name="org.hyperledger.fabric=ERROR" level="ERROR" />

	<root level="ERROR">
		<appender-ref ref="STDOUT" />
	</root>

</configuration>